/* Main Navigation */

li {
  background: orange;
  list-style: none;
  display: inline;
  padding: 20px 10px;
  margin: 20px 10px;
}

a {
  color: red;
  font: 24px bold sans-serif;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  
}

li:hover {
  color: white;
  background: blue;
  transition: background 1s;
}